/*
* @authoress Roze Anne da Vitória Cardoso
* @2018
*/

/* =========================== Layout =========================== */

/* ----------- Formatação do body ----------- */
/* conteúdo do html, do body e da classe capa ocupando 100% da tela */
html, body, .capa{
	height: 100%;
}

body{
	/* composição de imagens no background */
	background: url('imagens/capa.png'),
				url('imagens/ruido.png'),
				linear-gradient(50deg, #ff4169, #7c26f8);
	/* fixa as imagens do background */
	background-attachment: fixed;
	font-family: Helvetica, Arial, sans-serif;
}

/* ----------- Barra de navegação ----------- */
.img-logo{
	height: 40px;
	width: 132px;
	display: block;
	background: url('imagens/spotify.svg') no-repeat;
	background-size: contain; /* deixa a img de fundo do mesmo tamanho
								definido anteriormente */
	color: transparent; /* deixa o texto Spotify transparente.
						É importante deixar o texto para os leitores de tela */
}

/* selecionar a classe 'navbar-transparente' dentro da barra de navegação 'nav' */
nav.navbar-transparente{
	padding: 15px 0px;
	background: rgba(0, 0, 0, 0.6);
	border: none;
}

/* sobrescrevendo as configurações padrão dessa classe */
.navbar-brand{
	padding: 5px 15px;
}

/* configurando o divisor dos menus */
.divisor{
	width: 1px;
	height: 16px;
	background: white;
	margin: 16px 10px;
}

/* selecionando o link da mesma forma que o bootstrap seleciona
	botão direito em cima do link > inspecionar elemento
	faremos a configuração igual a do site oficial Spotify */
.navbar-inverse .navbar-nav>li>a{
	color: white;
}

.navbar-inverse .navbar-nav>li>a:hover{
	color: #9bf0e1;
}

/* ----------- Imagem da capa principal ----------- */
.capa{
	display: table;
	width: 100%;
}

.texto-capa{
	text-align: center;
	color: white;
	display: table-cell;
	vertical-align: middle;
}

/* ----------- Configuração dos botões ------------ */
.btn-custom{
	color: white;
	border-radius: 500px;
	/* compatibilidade com navegadores antigos */
	-webkit-border-radius: 500px;
	-moz-border-radius: 500px;
	padding: 10px 35px;
	text-transform: uppercase;
	margin: 0px 15px;
	/* transição do botão pro modo hover */
	transition: background 0.4s, color 0.4s;
}

.btn-roxo{
	background: #7c25f8;
}

.btn-roxo:hover{
	background-color: #6207e3;
	color: white;
}

.btn-branco{
	border: 2px solid white;
}

.btn-branco:hover{
	background-color: white;
	color: black;
}

/* ========================== Tipografia ======================== */
h1{
	font-size: 100px;
	font-weight: 900;
	/* formatação do espaçamento das letras */
	letter-spacing: -0.05em;
	margin-bottom: 50px;
}
